.animate_hand {
  position: relative;
  animation: move .5s infinite alternate;
}

.animate_saludo {
  position: relative;
  animation: saludar 1s alternate;
}

@keyframes saludar {
  0% {
    transform: rotate(9deg);
  }
  60% {
    transform: rotate(-7deg);
  }
  100% {
    transition: rotate(0);
  }
}

@keyframes move {
  0% {
    left: 0;
  }
  100% {
    left: 10px;
  }
}
