---
import Button_proyect from "../Buttons/Code_pre.astro";

interface Props {
  title: string;
  body?: string;
  img: string;
  views: number;
}

const { title, body, img, views } = Astro.props;
---

<div class="flex gap-10 justify-between mx-8 mt-10">
  <!-- IMG -->
  <div class=`w-1/2`>
    <img src={img} alt="" class="w-full h-full">
  </div>
  <div class="flex w-1/2 flex-col gap-4 justify-between pb-1">
    <h3 class="text-2xl text-peach-900 font-bold w-2/3 ">{ title }</h3>
    <!-- TECNOLOGIAS -->
    <div class="flex justify-between items-center ">
      <slot></slot>
    </div>
    <p class="text-gray-300 text-md">{body}</p>
    <!-- BUTTONS -->
    <div class="flex justify-between items-center">
      <!-- BUTTONS -->
      <div class="flex gap-5 ">
        <Button_proyect 
          text='Code'
          img='../../public/img/svg/Github.svg'
        ></Button_proyect>
        <Button_proyect
         text='Preview'
         img='../../public/img/svg/Link.svg'
        ></Button_proyect>
      </div>
      <!-- VISTAS -->
      <div class="flex gap-3 items-center">
        <span class="text-lemon-200/50 text-sm">{views}</span>
        <img src="../../public/img/svg/eye.svg" alt="">
      </div>
    </div>
  </div>
</div>